  <nav class="navigation">
    <div class="menu-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="menu">
      <ul>

          <li><a href="/">Home</a></li>
          <li><a href="/groups">Find Groups</a></li>
          <li><a href="/users/login">Login</a></li>

      </ul>
    </div>
  </nav>

