<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Remote Reader</title>

  <!--Import materialize.css-->
  <!-- <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/> -->

  <link type="text/css" rel="stylesheet" href="/css/homepage.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/css/hover-css.css"  />
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
  <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
  <script src= '/js/show.js'></script>

</head>
<body>
  <header>
    <h1><a class="title" href="/">Remote Reader</a></h1>
    <h2>Digital Book Club</h2>
  </header>
  <div id="layer">
    <div class ='add-new-area'>
      <a href='/users/new'>Sign Up</a>
      <a href='/users/login'>Login</a>
      <a href='/groups'>Browse Groups</a>

    </div>
  <main>
    <h3> Welcome to Remote Read, the digital bookclub</h3>
    <h3>We believe that the experience of reading brings people together -especially the same book, at the same time, <br>
    So don't let distance put a damper on your bookclub, with Remote Read you can organize, share, talk and read read read!</h3>
    <p>
      "The man who does not read good books has no advantage over the man who cannot read them." -Mark Twain
    </p>
    <p>“A reader lives a thousand lives before he dies, said Jojen. The man who never reads lives only one.” -George R.R. Martin (A Dance With Dragons) </p>
    <p>“You can never get a cup of tea large enough or a book long enough to suit me.” -C.S. Lewis </p>
    <p>“It is what you read when you don't have to that determines what you will be when you can't help it.” -Oscar Wilde</p>
    <p>“Books are a uniquely portable magic.” -Stephen King</p>
    <p>“Many people, myself among them, feel better at the mere sight of a book.” -Jane Smiley</p>
    <p>“A great book should leave you with many experiences, and slightly exhausted at the end. You live several lives while reading.” -William Styron</p>
    <p>“Books are the quietest and most constant of friends; they are the most accessible and wisest of counselors, and the most patient of teachers.” -Charles William Eliot</p>
    <p>“I find television very educating. Every time somebody turns on the set, I go into the other room and read a book.” -Groucho Marx</p>
  </main>



</div>
</body>
</html>
