* {
  outline: none; }

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  text-decoration: none;
  background-color: #fafafa; }

button {
  cursor: pointer; }

main {
  display: flex;
  justify-content: center;
  margin-bottom: 80px; }

#layer {
  position: relative;
  height: 100%;
  width: 100%; }

header {
  color: #5F078A;
  padding: 0;
  align-items: flex-end;
  margin-left: 20px; }
  header a {
    text-decoration: none;
    color: #5F078A; }
  header h2 {
    font-weight: normal;
    margin: 0px;
    padding: 0;
    font-size: 1rem; }

input:focus {
  outline: none; }

.each-text a {
  color: #5F078A;
  text-shadow: 1px 1px 3px #c8c8c8;
  text-decoration: none; }

h3, .homepage-quotes h4, #mygroups {
  text-align: center;
  font-size: 4rem;
  color: #5F078A;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 80;
  margin-top: 0;
  text-shadow: 1px 1px 1px #fafafa;
  width: 1080px; }

.homepage {
  display: flex;
  border: 2px double #5F078A;
  width: 90%;
  height: 600px;
  border-radius: 5px; }
  @media screen and (max-width: 1000px) {
    .homepage {
      height: 100%;
      flex-direction: column-reverse; } }

.homepage-intro {
  background-color: rgba(199, 213, 255, 0.55);
  width: 500px;
  padding: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }
  .homepage-intro h3, .homepage-intro .homepage-quotes h4, .homepage-quotes .homepage-intro h4, .homepage-intro #mygroups {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    width: 100%; }
  .homepage-intro h4 {
    margin-top: 50px;
    font-size: 1.5rem;
    line-height: 50px;
    color: #5F078A; }
  @media screen and (max-width: 1000px) {
    .homepage-intro {
      width: 100%;
      padding: 0;
      padding-top: 50px; } }

.homepage-quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  padding: 20px; }
  .homepage-quotes h4 {
    font-size: 3rem;
    width: 100%;
    transition: innerHTML 2s ease 0s; }
    @media screen and (max-width: 1000px) {
      .homepage-quotes h4 {
        font-size: 2rem; } }

.quote-class {
  transition: all 2s ease; }
  @media screen and (max-width: 1000px) {
    .quote-class {
      font-size: 1rem; } }

.post-area {
  display: flex;
  justify-content: center; }

.add-new-area {
  padding: 20px;
  font-weight: bold; }
  .add-new-area a {
    font-size: 1.2em;
    font-family: "Raleway", sans-serif;
    color: rgba(122, 78, 227, 0.55);
    text-decoration: none;
    margin-right: 20px; }
  .add-new-area a:hover {
    color: #5F078A; }

.all-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 1080px;
  padding: 80px;
  margin-bottom: 80px;
  margin-top: 80px;
  border-radius: 5px;
  border: 2px double #5F078A;
  background-color: rgba(199, 213, 255, 0.55); }
  @media screen and (max-width: 500px) {
    .all-posts {
      width: 100%; } }

.each-post {
  display: flex;
  border: 1px solid #5F078A;
  border-radius: 5px;
  max-width: 500px;
  height: 300px;
  margin-bottom: 70px; }
  @media screen and (max-width: 500px) {
    .each-post {
      width: 100%;
      flex-direction: column;
      align-items: center;
      height: 705px; } }

.each-photo img {
  height: 300px;
  width: 200px;
  background-size: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }
  @media screen and (max-width: 500px) {
    .each-photo img {
      width: 300px;
      height: 400px; } }

.each-text {
  padding-left: 30px;
  padding-right: 20px;
  height: 300px;
  width: 250px;
  color: #5F078A;
  background-color: #fafafa;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.book-description {
  height: 30%;
  overflow: scroll;
  padding-top: 0px;
  color: #5F078A; }
  .book-description p {
    margin-top: 0; }

nav {
  width: 30px;
  top: 10px;
  left: calc(100%-45px); }
  nav ul {
    padding: 0; }
  nav li {
    list-style: none;
    margin: 0;
    margin-top: 15px; }
    nav li a {
      text-decoration: none;
      color: #5F078A; }

.menu-icon {
  width: 30px;
  position: fixed;
  top: 10px;
  left: calc(100% - 45px);
  display: flex;
  flex-direction: column;
  height: 16px;
  width: 25px;
  justify-content: space-between;
  cursor: pointer; }
  .menu-icon span {
    width: 25px;
    border: 2px #5F078A solid; }

.menu {
  display: none; }

.show-menu {
  display: block !important;
  position: fixed;
  width: 150px;
  height: 200px;
  top: 30px;
  left: calc(100% - 170px);
  z-index: 2;
  color: rgba(68, 5, 99, 0.75);
  text-align: right; }
  .show-menu input {
    text-decoration: none;
    color: #5F078A;
    border: none;
    background-color: #fafafa;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    cursor: pointer; }
  .show-menu a {
    background-color: #fafafa; }

.input-area {
  height: 500px;
  width: 400px;
  padding: 50px 100px;
  background-color: rgba(199, 213, 255, 0.55);
  border-radius: 5px;
  border: 2px double #5F078A; }
  .input-area h2 {
    text-align: center;
    color: #5F078A; }
  .input-area form {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 50px; }
    .input-area form input {
      color: #5F078A;
      font-family: "Raleway", sans-serif;
      font-size: .8rem;
      border: none;
      border-bottom: 2px double #5F078A;
      height: 40px;
      border-radius: 5px;
      background-color: #fafafa; }
    .input-area form input:active {
      border: none;
      border-bottom: 1px solid #5F078A; }

.dashboard-main, .allGroups-main {
  display: flex;
  justify-content: center; }
  .dashboard-main .all-posts, .allGroups-main .all-posts {
    width: 60%;
    padding: 30px;
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 500px) {
      .dashboard-main .all-posts, .allGroups-main .all-posts {
        width: 100%; } }

.group-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 80px;
  color: #5F078A; }
  .group-area h1 {
    margin: 0;
    transition: all .1s linear; }
  .group-area a {
    text-decoration: none; }
    @media screen and (max-width: 500px) {
      .group-area a {
        font: 1.5rem; } }
  .group-area h1:hover a {
    color: #fafafa; }
  .group-area button {
    height: 30px;
    background-color: #5F078A;
    border: none;
    border-radius: 5px;
    color: #fafafa;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    font-size: .9rem;
    padding-left: 15px;
    padding-right: 15px; }

#mygroups {
  width: 100%; }

.button-hover {
  display: flex; }
  .button-hover h2 {
    margin: 0;
    opacity: 0; }

.button-hover:hover h2 {
  opacity: 1;
  color: #5F078A; }

.allGroups-main h1:hover {
  transform: none; }
.allGroups-main .group-area {
  flex-direction: column;
  width: 400px;
  align-items: flex-start;
  border: 2px solid #fafafa;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.55);
  padding: 20px; }
.allGroups-main .all-posts {
  margin-top: 0px;
  width: 70%; }
.allGroups-main button {
  margin: 0;
  align-self: flex-end; }

.show-groups {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

#book-description {
  height: 100px; }

.new-book-main {
  display: flex;
  justify-content: center; }
  .new-book-main .input-area {
    height: 750px; }

.show-book-main {
  display: flex;
  justify-content: center; }
  .show-book-main .each-post {
    width: 100%; }
  .show-book-main h3, .show-book-main .homepage-quotes h4, .homepage-quotes .show-book-main h4, .show-book-main #mygroups {
    width: 100%;
    font-size: 1.7rem;
    display: flex; }

.each-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  background-color: rgba(199, 213, 255, 0.55);
  border-radius: 5px;
  border: 2px double #5F078A;
  padding: 80px;
  margin-bottom: 80px; }
  .each-book .button, .each-book button, .each-book .submit-reply, .each-book .subcomment-delete {
    height: 30px;
    background-color: #5F078A;
    border: none;
    border-radius: 5px;
    color: #fafafa;
    cursor: pointer;
    font-size: .9rem;
    padding-left: 15px;
    padding-right: 15px; }
  .each-book .submit-button {
    cursor: pointer; }
  @media screen and (max-width: 500px) {
    .each-book {
      width: 100%;
      padding: 0px; } }

.book-details {
  width: 100%;
  display: flex;
  color: #5F078A; }
  .book-details img {
    margin-right: 80px;
    margin-bottom: 10px;
    height: 475px;
    width: 300px; }
    @media screen and (max-width: 500px) {
      .book-details img {
        margin-right: 0px; } }
  @media screen and (max-width: 500px) {
    .book-details {
      flex-direction: column; } }

.edit-button {
  width: 50px;
  height: 30px;
  background-color: #5F078A;
  color: #fafafa;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer; }

.comment-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.add-comment {
  color: #5F078A; }
  .add-comment form {
    margin-bottom: 80px; }
  .add-comment textarea {
    height: 175px;
    width: 100%; }
    @media screen and (max-width: 500px) {
      .add-comment textarea {
        width: 90%; } }

.comments {
  color: #5F078A; }
  .comments h4 {
    font-size: 1.5rem; }

.add-reply {
  visibility: hidden; }

.replies {
  margin-top: 10px;
  margin-left: 10%;
  border-left: 2px double #5F078A;
  padding-left: 10px; }
  .replies h4 {
    margin-top: 15px; }

.like-and-reply {
  display: flex; }
  .like-and-reply input {
    margin-right: 10px; }

.reply-field {
  width: 95%;
  height: 30px; }

/*# sourceMappingURL=style.css.map */
